<%- include("boilerplate") %>

    <div class="post-detail-container">
        <h1 class="post-title">
            <%= post.title %>
        </h1>
        <p class="post-content">
            <%= post.content %>
        </p>
        <p class="post-category">Category: <%= post.category %>
        </p>


        <div class="action-buttons">
            <a href="#" class="action like-btn">
                <i class="fa-regular fa-heart fa-2x"></i>
                <span class="like-count">0</span>
            </a>
            <a href="#" class="action">
                <i class="fa-regular fa-comment fa-2x"></i>
                <span>Comment</span>
            </a>
        </div>
    </div>

    <div class="action-buttons">
        <a href="/posts/edit/<%= post.id %>" class="action">
            <button class="edit-btn">Edit</button>
        </a>
        <a href="/posts/delete/<%= post.id %>" class="action">
            <button class="edit-btn">Delete</button>
        </a>
    </div>



    <script>
        const likeBtn = document.querySelector(".like-btn")
        const likeCount = document.querySelector(".like-count")
        likeBtn.addEventListener("click", (e) => {
            e.preventDefault();
            let count = parseInt(likeCount.textContent);

            count++;
            likeCount.textContent = count;
        })
    </script>