<%- include("boilerplate") %>



    <a href="/posts/create">
        <button class="edit-btn">Create Post</button>
    </a>
    <div class="show-box">
        <% for (p of post) { %>
            <div class="container">
                <a href="/posts/show/<%=p.id%>">
                    <h1 class="post-title">
                        <%= p.title %>
                    </h1>
                    <p class="post-content">
                        <%= p.content %>
                    </p>
                    <p class="post-category">Category: <%= p.category %>
                    </p>
                </a>



            </div>
            </form>
            <% } %>
    </div>